<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orbital">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="XChange Buddies"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ImperialCollege.AddReviewImperialCollege"></activity>
        <activity android:name=".ImperialCollege.ImperialCollegeActivity" />
        <activity android:name=".Fudan.AddReviewFudan" />
        <activity android:name=".Fudan.FudanActivity" />
        <activity android:name=".Durham.AddReviewDurham" />
        <activity android:name=".Durham.DurhamActivity" />
        <activity android:name=".Clarkson.AddReviewClarkson" />
        <activity android:name=".Clarkson.ClarksonActivity" />
        <activity android:name=".Chongqing.AddReviewChongqing" />
        <activity android:name=".Chongqing.ChongqingActivity" />
        <activity android:name=".Carleton.AddReviewCarleton" />
        <activity android:name=".Carleton.CarletonActivity" />
        <activity android:name=".Bilkent.AddReviewBilkent" />
        <activity android:name=".Bilkent.BilkentActivity" />
        <activity android:name=".BostonU.AddReviewBostonU" />
        <activity android:name=".BostonU.BostonUActivity" />
        <activity android:name=".AlbertLudwig.AddReviewAlbertLudwig" />
        <activity android:name=".AlbertLudwig.AlbertLudwigActivity" />
        <activity android:name=".Aarhus.AddReviewAarhus" />
        <activity android:name=".Aarhus.AarhusActivity" />
        <activity android:name=".ThereProfileActivity" />
        <activity android:name=".AddPostActivity" />
        <activity
            android:name=".ChatActivity"
            android:theme="@style/AppThemeNo" />
        <activity android:name=".DashboardActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>